/* Título da página */

h1 {
  color: #255885;
  margin-top: 5%;
  margin-bottom: 2%;
}


/* tabela */

table {
  align-items: center;
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial;
  font-size: medium;
  margin-top: 20px;  
}

th {
  background-color: #255885;
  border: 1px solid #ddd;
  color: #fff;
  padding: 8px;
}

th:hover {
  background-color: #0062cc;
}

td {
  background-color: #Fff;
}

tbody td {
  border: 1px solid #ddd;
  padding: 8px;
}

td:hover {
  background-color: #ffffffb5;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 70%;
}



/* Botões */

button {
  color: #F2F2F2;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: Arial;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 2%; 
}

button img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

button span {
  font-weight: bold;
  font-size: small;
}

button#cancelar {
  background-color: #40A8C4;
}

button#cancelar:hover {
  background-color: #04D9D9;
}
