* {
  padding: 0%;
  margin: 0%;
  font-family: Arial;
}

body {
  background-color: #255885;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box-one {
  background-color: #ffffff;
  width: 500px;
  height: auto;   
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  margin: auto;
  display: block;
  width: 90%;
  margin-bottom: 10%;
}

/* Formulário */

label {
  text-align: left;
}

li#tituloArea {
  font-weight: bold;
  color: #255885;
}

.feedback {
  color: red;
  font-size: smaller;
}

ul {
  list-style-type: none;
  padding-bottom: 2.5%;
  text-align: left;
}

li {
  padding-bottom: 0.5%;
}

input {
  font-family: Arial;
  font-size: medium;
  padding: 1%;
  width: 98%;
  background-color: #DEE3E7;
  border: none;
}

select {
  font-family: Arial;
  font-size: medium;
  padding: 1%;
  background-color: #03738C;
  color: white;

}

#resetar {
  font-family: Arial;
  font-size: medium;
  background-color: #DEE3E7;
  border: none;
  padding: 0%;
  width: auto;
}


/* Botões */

/* Botões */

#cadastrar {
  padding: 10px 60px;
  margin-left: 20px;
  background-color: #255885;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Arial"; 
  font-size: 20px;
  margin: 1%;
}

#voltar{
  padding: 10px 60px;
  margin-left: 20px;
  background-color: #40A8C4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Arial"; 
  font-size: 20px;
  margin: 1%;
}

#cadastrar:hover {
  background-color: #03738C;
}

#voltar:hover {
  background-color: #04D9D9;
}







/*



p {
  font-family: Arial;
}



.box-logo {
  margin-bottom: 3%;
}

.logo-image {
  width: 70%;
  height: 10%;  
}

.form-control {
  margin-bottom: 10px;
}

.form-control label {
  display: block;
  font-family: Arial;
  font-size: 24px;  
}

.form-control input[type="email"],
.form-control input[type="text"],
.form-control input[type="password"]{
  width: 70%;
  height: 50%;  
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc; 
  background-color: #DEE3E7;
}

button[type="submit"] {
  padding: 10px 60px;
  margin-left: 20px;
  background-color: #255885;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Arial"; 
  font-size: 24px;
}


.input-box {
  margin-top: 10px;
  font-family: Arial; 
  font-size:20px;    
}

.input-box a {
 color: #255885;
}

button[type="submit"]:hover {
  background-color: #0081cc;
}