* {
  padding: 0%;
  margin: 0%;
  font-family: Arial;
}


/* Caixas */

body {
  background-color: #005687;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  margin: auto;
  display: block;
  width: 50%;
  margin-bottom: 4%;
  margin-top: -2%;
}

.box-one {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}


/* Conteúdos */

label {
  text-align: left;
}

#mostra_senha {
  font-family: Arial;
  font-size: smaller;
}

#input_senha {
  margin-left: -320px;
}

li#tituloArea {
  font-weight: bold;
  color: #255885;
}

.feedback {
  color: red;
  font-size: smaller;
}

ul {
  list-style-type: none;
  padding-bottom: 2.5%;
  text-align: left;
}

li {
  padding-bottom: 0.5%;
}

input {
  font-family: Arial;
  font-size: medium;
  padding: 1%;
  width: 98%;
  background-color: #DEE3E7;
  border: none;
}

select {
  font-family: Arial;
  font-size: medium;
  padding: 1%;
  background-color: #03738C;
  color: white;

}

#resetar {
  font-family: Arial;
  font-size: medium;
  background-color: #DEE3E7;
  border: none;
  padding: 0%;
  width: auto;
}


/* Botões */

#cadastrar {
  padding: 10px 60px;
  margin-left: 20px;
  background-color: #255885;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Arial"; 
  font-size: 20px;
  margin: 1%;
}

#voltar{
  padding: 10px 60px;
  margin-left: 20px;
  background-color: #40A8C4;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Arial"; 
  font-size: 20px;
  margin: 1%;
}

#cadastrar:hover {
  background-color: #03738C;
}

#voltar:hover {
  background-color: #04D9D9;
}